*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body{
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header, footer{
    flex: 0 1 auto;
    background-color: #FFDE73;
    display: flex;
}

header{
    justify-content: center;
    align-items: flex-end;
    padding-top: 5px;
}

header nav{
    display: flex;
    gap: 20px;
}

nav button{
    background-color: #FFDE73;
    width: 100px;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid black;
    border-bottom: 0;
    font-weight: bold;
}

footer{
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

footer a{
    font-size: 0.7rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

main{
    background-image: url("./images/643.png");
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        ". content .";
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

main #content{
    background-color: #FFDE73;
    grid-area: content;
    border-radius: 15px;
}