:root{
    margin: 0;
    padding: 0;
}

html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

body{
    flex: 1 1 auto;
    width: 70vw;
    height: 100vh;
    background-color: white;
    display: flex;
}

main{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
    gap: 15px;
}

main .my-board, .opponent-board{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
    padding-bottom: 15px;
}

.my-board p, .opponent-board p{
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: medium;
}

.my-board .my-grid{
    flex: 1 1 auto;
    width: 50%;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.opponent-board .opponent-grid{
    flex: 1 1 auto;
    width: 50%;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.my-grid .empty, .opponent-grid .empty{
    border: 1px solid black;
    background-color: white;
}

.my-grid div, .opponent-grid div{
    border: 1px solid black;
}

.boat{
    background-color: gray;
}

.sub{
    background-color: aquamarine;
}

.destroyer{
    background-color: darkgoldenrod;
}

.battleship{
    background-color: rgba(220, 20, 60, 0.644);
}

/* Visual feedback for hits and misses */
.opponent-grid div{
    cursor: pointer;
}

.opponent-grid .hit, .my-grid .hit{
    background-color: rgba(220, 20, 60, 0.85);
}

.opponent-grid .hit-1, .my-grid .hit-1 {
    background-color: salmon;
}
.opponent-grid .hit-2, .my-grid .hit-2 {
    background-color: coral;
}
.opponent-grid .hit-3, .my-grid .hit-3 {
    background-color: crimson;
}
.opponent-grid .hit-4, .my-grid .hit-4 {
    background-color: darkred;
}

.opponent-grid .miss, .my-grid .miss{
    background-color: lightgray;
}

.opponent-grid .empty:hover{
    background-color: #f0f8ff;
}