body{
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Roboto, serif;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-links{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-logo{
    font-size: 24px;
    justify-content: flex-start;
}

.right-links{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero{
    padding: 60px 0px 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left, .hero img{
    flex-basis: 450px;
    padding: 10px;
    margin: 10px;
    flex-shrink: 0;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.left h1{
    font-size: 40px;
    color: #F9FAF8;
    margin:0;
}

.left p{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.left button, .ads button{
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 8px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.hero img{
    flex-basis: 450px;
    align-self: flex-start;
    height: 233px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information{
    padding-bottom: 100px;
}

.information h2{
    text-align: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.info img{
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.images{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
    gap: 10px;
    color:  grey;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 75px 250px 75px 250px;
}

.quote p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote h3{
    text-align: right;
}

.background-ads{
    padding: 75px 220px 75px 220px;
}

.ads{
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    padding: 40px 100px;
    color: white;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.ad-text .title-text{
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    margin-bottom: 1px;
} 

.ad-text .text{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.ads button{
    border: 2px solid white;
}

.footer{
    flex: 0 1 auto;
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 40px;
}

a{
    text-decoration: none;
    color: inherit;
}
