@font-face {
  font-family: NorseBold;
  src: url(./fonts/Norse-Bold.otf);
}

:root{
    font-size: 16px;
    --sides-padding: 32%;
    --form-width: 62%;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(7, 6, 6, 0.852);
    display: flex;
    justify-content: center;
}

main{
    width: calc(100% - var(--sides-padding, 30%));
    height: 100%;
    display: flex;
    background-color: white;
}

.left-content{
    width: calc(100% - var(--form-width, 62%));
    height: 100%;
    position: relative;
}

img[class="background-img"]{
    width: 100%;
    height: 100%;
}


.logo-content{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 15%;
    position: absolute;
    top:160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img[class="logo-img"]{
    width: 17%;
    height: 85%;
}

.logo-name{
    font-family: NorseBold, sans-serif;
    color: white;
    font-size: 4rem;
}

.credit{
    position: absolute;
    top:95%;
    left:30%;
    color: white;
    font-family: sans-serif;
    font-size: 0.75rem;
    text-align: center;
    font-weight: 300;
}

a:link{
    color: white;
}

a:hover{
    font-weight: bold;
}

.right-content{
    height: 100%;
    width: var(--form-width);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.intro-text, .create-and-access{
    background-color: rgba(243, 237, 237, 0.4);
    height:30%;
    padding-left: 30px;
}

.intro-text{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
    gap: 15px;
    padding-bottom: 50px;
}

.intro-text p{
    width:78%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
}

form{
    height: 460px;
    display: flex;
    flex-direction: column;
    gap: 30px
}

.form-data{
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 80px;
}

form h2{
    padding-left: 30px;
    font-weight: normal;
    font-size: 1.1rem;
    font-weight: 700;
}

.form-data > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-data > div > div {

    display: flex;
    flex-direction: column;
}

input{
    border-radius: 5px;
    border-color: #E5E7EB;
}

.first-name input:focus, .mail input:focus, .last-name input:focus, .phone-number input:focus{
    border-color: blue;
    box-shadow: 1px 1px 1px;
    outline: none;
}

.password input:invalid, .password-verify input:invalid{
    border-color: red;
}

.create-and-access{
    height: 350px;
    padding-top: 30px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
}

.create-and-access a:link{
    color: #596D48;
    text-decoration: none;
}

button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #596D48;
    color: white;
    text-align: center;
}