body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #afacac;
    width: 300px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.row{
    flex: 1 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.clickable{
    flex: 0 0 auto;
    width: 45px;
    height: 45px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.operator{
    background-color: rgba(192, 192, 46, 0.600);
}

.reset, .point, .backspace{
    background-color: rgba(193, 115, 32, 0.6);
}


#calculator-text{
    align-self: stretch;
    border: 2px solid black;
    flex: 1 1 auto;
    margin: 20px 25px 20px 25px;
    text-align: right;
    font-weight: bold;
    font-size: large;
}