*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

body{
    min-height: 100vh;
    min-width: auto;
    background-color: black;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
}

#addProject, #add-task-button{
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
    border-radius: 50px;
    background-color: rgba(25, 146, 212);
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    border: 0;
}

#addProject{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 1.8rem;
}

#add-task-button{
    width: 80px;
    height: 30px;
    border-radius: 25px;
    font-size: 1rem;
}

#addProject:hover, #add-task-button:hover{
    cursor: pointer;
}

/*----------------*/

.content{
    background-color: rgba(226, 232, 240);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.content h3{
    flex: 1 0 auto;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*----------------*/

.content .projects-container{
    background-color: white;
    flex: 7 1 auto;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(221, 226, 232);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

/*----------------*/

.projects-container .single-project{
    background-color: blanchedalmond;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(162, 162, 162, 0.3);
    display: grid;
    grid-template-rows: 0.5fr 4fr 1fr;
}

.single-project .project-header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-project .list-of-tasks{
    list-style-position: inside;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
}

.list-of-tasks li{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #f0f0f0; /* Optional, for task item background */
    padding: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1); /* Optional, for task item shadow */
}

.list-of-tasks .title{
    flex: 3 1 auto;
}

.list-of-tasks .due-date{
    flex: 2 1 auto;
}

.list-of-tasks .priority-lvl{
    flex: 1 1 auto;
}

.list-of-tasks .erase-task{
    width: 30px;
    height: 30px;
    flex: 0 0 auto;
    border-radius: 50px;
    background-color: rgb(231, 81, 12);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
}

.single-project .project-footer{
    padding: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*----------------*/

dialog{
    position: fixed;
    left: 40%;
    top: 20%;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(226, 232, 240);
}

dialog form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: fl;
    gap:20px;
}

form .label-input{
    display: grid;
    grid-template-columns: 1fr 2fr;
    flex: 1 1 auto;
    align-items: center;
    gap: 10px;
}

form button{
    width: 80px;
    height: 30px;
    flex: 0 0 auto;
    border-radius: 25px;
    background-color: rgba(25, 146, 212);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: 0;
    align-self: flex-end;
}