body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.container{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    border: 5px solid black;
}

.row{
    flex: 1 0 auto;
    display: flex;
    width: 100%;
}

.square-grid{
    flex: 1 0 auto;
    background-color: white;
    border: 1px solid black;
}