body{
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 320px 0px 320px;
}

.top{
    background-color: #1F2937;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 20em 0px black,
    -20em 0 black;
}

.header{
    flex: 0 1 auto;
    padding: 10px 180px 10px 180px;
    font-size: 18px;
    color: #E5E7EB;
    display:flex;
    justify-content: space-between;
}

.left-links{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: flex-start;
}

.right-links{
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero{
    padding: 40px 0px 40px 0px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.left{
    flex: 0 1 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left h1{
    font-size: 48px;
    color: #F9FAF8;
    flex: 0 1 auto;
    margin:10px 10px 5px 10px;
}

.left p{
    flex: 0 1 auto;
    font-size: 18px;
    color: #E5E7EB;
    margin:5px 10px 5px 10px;
}

.left button{
    flex: 0 0 auto;
    font-family: inherit;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    font-size: 18px;
    margin:5px 10px 10px 10px;
    border-radius: 15px;
}

.information{
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;
    padding: 20px 0px 100px 0px;
    box-shadow: 20em 0px black,
    -20em 0 black;
}

.information h2{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.images{
    display: flex;
    justify-content: center;
    gap:20px;
}

.info{
    flex: 0 1 auto;
    max-width: 200px;
    text-align: center;
    padding: 5px;
}

.quote{
    flex: 0 1 auto;
    background-color: #E5E7EB;
    padding: 50px 300px 50px 300px;
    box-shadow: 20em 0px black,
    -20em 0 black;
}

.quote p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote h3{
    text-align: right;
}

.header img{
    flex: 0 1 auto;
}

.background-ads{
    padding: 60px 250px 60px 250px;
    box-shadow: 20em 0px black,
    -20em 0 black;
}

.ads{
    flex: 0 1 auto;
    border-radius: 5px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px 10px 20px;
    color: white;
    align-items: center;
}

.ad-text .title-text{
    font-weight: 700;
    margin-bottom: 1px;
} 

.ad-text .text{
    margin-top: 1px;
    font-size: 14px;
}

.ads button{
    flex: 0 0 auto;
    font-family: inherit;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    font-size: 16px;
    margin:5px 10px 10px 10px;
    border-radius: 15px;
    height: 40px;
    border-color: white;
}

.footer{
    flex: 0 1 auto;
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 40px;
    box-shadow: 20em 0px black,
    -20em 0 black;
}

a{
    text-decoration: none;
    color: inherit;
}
